body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.headingStyle{
    color: white;
    text-align: center;
    padding: 3rem;
    background-color: purple;
    width:100vw;
  }

  .card{
    background-color:wheat;
    width:28vw;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    padding:1rem;
    margin: .5rem;
    float: left;
  }
 